<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="pileaute_dash_Handler" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\administrator\anaconda3\envs\dash\python.exe|c:\users\administrator\anaconda3\envs\dash\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true"/>
    </system.webServer>
	<appSettings>
		  <add key="WSGI_HANDLER" value="app.app.server" />
          <add key="PYTHONPATH" value="C:\Users\Administrator\Documents\GitHub\pileaute_dash" />
		</appSettings>
</configuration>
